.breadcrumb {
    display: flex;
    gap: 8px;
    padding: 16px 16px 0 16px;
    font-size: 12px;
    font-family: var(--font-family-primary);

    a {
        text-decoration: none;
    }

    a,
    p.breadcrumb-separator {
        color: #667085
    }

    a.disabled {
        color: #1D2939;
        cursor: not-allowed;
    }

    @media (min-width: 1180px) {
        display: none;
    }
}